@import './theme.scss';
@import '../node_modules/@mdi/font/css/materialdesignicons.min.css';
@import '../node_modules/typeface-montserrat/index.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

html {
  font-family: sans-serif;
  font-size: 16px;

  background: $app-bgcolor;
  color: $text-color;
}

nav {
  height: 40px;

  display: flex;
  flex-direction: row;
  align-items: center;

  font-family: Montserrat, sans-serif;
  font-size: 30px;
  font-weight: 200;
  margin-bottom: 20px;
}

button {
  border: none;
  outline: none;
  background: #08375a;
  color: #e0e0e0;
  font-weight: bold;
  min-width: 100px;
  min-height: 50px;
}
