$app-back-bgcolor: #ececec;
$app-front-bgcolor: #fefefe;

$border-light-color: #d0d0d0;
$border-dark-color: #868686;

$text-color: #212121;
$text-faint-color: #afafaf;
$text-inverse-color: #fefefe;

$accent1: #ffa500;
$accent2: #506e9e;

$text-accent1: #212121;

$media-phone-small: "(max-width: 320px)";
$media-phone-medium: "(max-width: 375px)";

@mixin modal {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

@mixin padded {
  padding: 40px 14px 90px 14px;

  @media #{$media-phone-small} {
    padding: 20px 8px 90px 8px;
  }
}
